<%- include('../partials/header') %>
    <div class="nav-wrapper">

      <br>
      <h3>Ready to order a ray of sweet sunshine? <br> Please kindly login first ! </h3>
      <br>
      <div class="imgMain">
        <img src="/images/img14.jpg" id="k" alt="..." />
      </div>
      <br>
      <ul class="right">
        <li>
          <% if (customer) { %>
            <a href="/logout" class="btn btn-warning">log out</a>
            <% } else { %>
            <a href="/auth/google" class="btn btn-warning">login with Google</a>
          <% } %>
        </li>
      </ul>
    </div>
  </body>
</html>

<!-- Add Dynamic UI form below this line -->
<!-- // this is to show a link that will re-direct admin to a page. but link only show up for them -->

<% if (customer && customer.id === '615f1f1a17bc87ae562c659a') { %>
  <div class="card-action">
    <a href="/orders/view">View Entire Order List</a>
  </div>
  <% } %>
