from old menu displaying tables. 

<div class="containerLeft" id="canele">
    <div class="left">img</div>
    <div class="right">
      <div class="productType">Canale</div>
      <div class="price">$4 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
  </div>
  
  <div class="containerRight" id="cheesecake">
    <div class="left">
      <div class="productType">Basque Cheese Cake</div>
      <div class="price">$12 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
    <div class="right">img</div>
  </div>
  
  <div class="containerLeft" id="cookies">
    <div class="left">img</div>
    <div class="right">
      <div class="productType">Ugly Cookies</div>
      <div class="price">$4 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
  </div>



  customer Name0 order form.

  <label for="customerName" class="col-sm-5 control-label">
    Customer Name
  </label>
  <div class="col-sm-5 col-sm-offset-3 ">
    <input
      id="customerName"
      type="text"
      name="customerName"
      class="form-control"
    />
  </div>
</div>