from old menu displaying tables. 

<div class="containerLeft" id="canele">
    <div class="left">img</div>
    <div class="right">
      <div class="productType">Canale</div>
      <div class="price">$4 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
  </div>
  
  <div class="containerRight" id="cheesecake">
    <div class="left">
      <div class="productType">Basque Cheese Cake</div>
      <div class="price">$12 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
    <div class="right">img</div>
  </div>
  
  <div class="containerLeft" id="cookies">
    <div class="left">img</div>
    <div class="right">
      <div class="productType">Ugly Cookies</div>
      <div class="price">$4 each</div>
      <div class="flavour">flavour1, 2, 3,</div>
    </div>
  </div>



  customer Name0 order form.

  <label for="customerName" class="col-sm-5 control-label">
    Customer Name
  </label>
  <div class="col-sm-5 col-sm-offset-3 ">
    <input
      id="customerName"
      type="text"
      name="customerName"
      class="form-control"
    />
  </div>
</div>



<div class="form-group text-center">
  <label for="productpicked" class="col-sm-2 control-label"> productpicked</label>
  <div class="col-sm-5">
    <input id="productpicked" name="productpicked" type="string" class="form-control" />
  </div>
</div>





<div class="form-group">

  <div class="col-sm-5">
    <label for="pickupLocation" class="col-sm-5 control-label">
      Pickup Location</label> </div>

    <div class="col-sm-5">
      <select id="pickupLocation" name="pickupLocation">
        <option value="Downtown SW">Downtown SW</option>
        <option value="Dalhousie NW">Dalhousie NW</option>
      </select>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label for="productChoice"> Product of Choice </label>
     </div>
    <div class="col-sm-5">
    <select name="productChoice">
    <% products.forEach(function(p) { %>
        <option value="<%= p.id %>"><%= p.productName %></option>
    <% }) %>
    </select>
  </div>
</div>s

<div class="form-group">
  <div class="col-sm-5">
  <label for="quantity" class="col-sm-5 control-label"> Quantity</label></div>
  <div class="col-sm-5">
    <input id="quantity" name="quantity" type="number" class="form-control" />
  </div>
</div>

<button type="submit" class="btn btn-warning">Submit</button>
</form>
</div>