<%- include('./partials/header') %>

<div class="imgMain">
  <img src="/images/img1.jpg" id="k" alt="..." />
</div>

<div class="imgGrid">
  <div class="row1 ">
    <img src="/images/img13.jpg" class="img" alt="..." />
    <img src="/images/img11.jpg" class="img middle" alt="..." />
    <img src="/images/img12.jpg" class="img" alt="..." />
  </div>
  <div class="row2">
    <img src="/images/img9.jpg" class="img" alt="..." />
    <img src="/images/img8.jpg" class="img middle" alt="..." />
    <img src="/images/img7.jpg" class="img" alt="..." />
  </div>
  <div class="row3">
    <img src="/images/img6.jpg" class="img" alt="..." />
    <img src="/images/img5.jpg" class="img middle" alt="..." />
    <img src="/images/img4.jpg" class="img" alt="..." />
  </div>
  <div class="orderBtn">
    <a href="/orders" class="btn btn-warning">o r d e r</a>
    </div>
</div>


<%- include('./partials/footer') %>
