* {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}

.btn-warning {
  background-color: #fce495 !important;
  /* background-color: #d0bbe9 !important; */
}
nav {
  width: 1350px;
  height: 200px;
  background-color: rgb(242, 194, 194);
}

body{
  background-color: rgb(242, 194, 194);
  width: 1350px;
  margin: 0 auto;
}
.navbar-nav {
  width:100%
}
.nav-item {
  width:20%;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.imgMain {
  background-color: rgb(242, 194, 194);
  margin: 0 auto; 
}

#k {
  background-color: black;
  width: 500px;
  height: 400px;
  margin: 10px 400px;
}
.imgGrid {
  background-color: rgb(242, 194, 194);
  margin: 50px 300px 0px 300px;
  width: 800px;
  /* background-color: lightgreen; */
}

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
flex-direction: row;
margin: 10px 10px auto;
}
.img{
  width: 250px;
  display: 250px;
}
.middle {
  margin: 0 10px 0 10px;
}
.orderBtn{
  text-align: center;
  margin: 50px 0px auto;
}

/* PAGE 2: Menu.ejs 
why can't I margin container Mune??*/

.containerMenu {
  width: 50%;
  margin: auto;
  justify-content: center;
   /* background-color: rgb(242, 194, 194); */
}

.card {
 width: 70%;
 margin-left: 90px;
}
