<%- include('../partials/header') %>
<h1>Thank you so much for your order!</h1>

<div class="orderBtn">
    <a href="/orders" class="btn btn-warning"> forgot something?</a>
    </div>

<%- include('../partials/footer') %>
