<%- include('../partials/header') %> 

<h1> Ready for an order?</h1>
<br><br><br>

<div class="formPage">
<div id="orderForm ">
<form
  method="POST"
  action="/orders/customer"
  class="form-horizontal"
  id="new_order"
>
  <div class="form-group">

    <div class="">
      <label for="pickupLocation">
        Pickup Location</label> </div>
        <div class="">
        <select id="pickupLocation" name="pickupLocation">
          <option value="Downtown SW">Downtown SW</option>
          <option value="Dalhousie NW">Dalhousie NW</option>
        </select>
      </div>
    </div>
<br>
    <div class="form-group">
      <div class="">
        <label for="productChoice"> Product of Choice </label>
       </div>
       <div class="">
      <select name="productChoice">
      <% products.forEach(function(p) { %>
          <option value="<%= p.id %>"><%= p.productName %></option>
      <% }) %>
      </select>
    </div>
  </div>
<br>
  <div class="form-group">
    <div class="">
    <label for="quantity"> Quantity</label></div>
    <div class="">
      <input id="quantity" name="quantity" type="number" class="form-control" />
    </div>
  </div>
<br>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
</div>

</div>



<%- include('../partials/footer') %>
