<%- include('../partials/header') %>
<br><br><br><br>
<h2>Welcome back Admin! <br> </h2>
<br><br><br><br><br><br>


<div class="adminBtn">
  <a href="/orders/view" class="btn btn-primary"> All Orders </a>
  </div>
  <br>
  <div class="adminBtn">
    <a href="/products-current" class="btn btn-primary">All Products</a>
    </div>

<%- include('../partials/footer') %>
