<%- include('../partials/header') %>

<h1>gekko</h1>
<h1>
  This is where gogle auth happens and depending on the admin rights, I will
  send them dto different pages.
</h1>

<h1>Pleae log in!</h1>

<div>I need google log in form</div>

<a href="/">Go to Admin Page</a>

<%- include('../partials/footer') %>
