<%- include('../partials/header') %>
<h1> BBBB list of products. she can add, delete here.
    NO need to edit as all products will be in product-flavour format. 
    Maybe I can use similar to seat for flight.
</h1>

<%- include('../partials/footer') %>a