<%- include('../partials/header') %>
<h1> this is order form for customers fill out,
    It shoould also have a little blurb about location, pick up time
    IT could be in a modal window or what not. 
</h1>

<%- include('../partials/footer') %>a