<%- include('../partials/header') %>
<h1> This is where gogle auth happens
    and depending on the admin rights, I will send them dto different pages.
    </h1>

<%- include('../partials/footer') %>a