<%- include('../partials/header') %>
<h1>Thank you so much for your order!</h1>

<div class="orderBtn">
    <a href="/orders" class="btn btn-warning"> forgot something?</a>
    </div>

    <div>
        <% if (customer)  %>
            <a href="/logout" class="btn btn-warning">log out</a>
    </div>
      
<%- include('../partials/footer') %>
